<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login with Telegram</title>
</head>
<body>
    <form action="/login", method="POST">
        Username:<br>
        <input type="text" name="username" placeholder="Your username">
        <br>
        Password:<br>
        <input type="password" name="password" placeholder="Your password">
        <br>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>